.MusicAppTitle {
    display: flex;
    align-items: row;
    width: 350px;
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px
}

.box {
    width: 320px;
    display: flex;
    align-items: center;
}

.push {
    margin-left:auto;
}